<a href="https://colab.research.google.com/github/Saicharanchearla/B23_10i8/blob/main/NLP_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
l = [10,20,30,40]
print(l)
if 20 in l:
  print("found")
else:
  print("not found")

[10, 20, 30, 40]
found

In [2]:
l = [9,26,92,56,45,16]
print

In [3]:
Student = [[10,20],[30,40],[50,60],[70,80],[90,100]]
print(Student)

[[10, 20], [30, 40], [50, 60], [70, 80], [90, 100]]

In [4]:
t = (10,20,30,40)
print(t)

t = (10,20,30,10,20)
print(t)

(10, 20, 30, 40)
(10, 20, 30, 10, 20)

In [5]:
t=(10,99.9,"cse")
for i in t :
  print(type(i),i)

if 30 in t:
  print("f")
else:
  print("nf")

<class 'int'> 10
<class 'float'> 99.9
<class 'str'> cse
nf

In [6]:
t = (1,2,3,2,3,2,4)
print(t.count(2))
print(t.index(4))

3
6

In [7]:
l=(10,20,30,40)
mytuple = tuple(l)
print(mytuple)

(10, 20, 30, 40)

In [8]:
Student["college"] = "SRU"
print(Student)
Student["branch"] = "AIML"
del Student["id"]

TypeError: list indices must be integers or slices, not str

In [9]:
student = {"name" : "python", "id" : "101", "branch" : "CSE"}
print(student.keys())
print(student.values())
print(student.items())

for keys, value in student.items():
  print(keys,":",value)

dict_keys(['name', 'id', 'branch'])
dict_values(['python', '101', 'CSE'])
dict_items([('name', 'python'), ('id', '101'), ('branch', 'CSE')])
name : python
id : 101
branch : CSE

In [10]:
print("10\t20\n30\t40\n50\t60")

10	20
30	40
50	60

In [11]:
l=[[10,20],[30,40],[50,60]]
for i in l:
  print(*i)

10 20
30 40
50 60

In [12]:
A = {1,2,3}
B = {3,4,5}
print("union", A|B)
print("intersection", A&B)
print("difference", A-B)
print("symmetric difference", A^B)

union {1, 2, 3, 4, 5}
intersection {3}
difference {1, 2}
symmetric difference {1, 2, 4, 5}

In [13]:
s={1,2,3,4}
print(s)
s={1,2,3,2,3,2}
print(s)
for i in s:
  print(i)

{1, 2, 3, 4}
{1, 2, 3}
1
2
3

In [14]:
l = [[10,20],[30,40],[50,60]]
print("\n".join(" ".join(map(str,i))for i in l))

10 20
30 40
50 60

In [16]:
Student = {}

Student["college"] = "SRU"
print(Student)
Student["branch"] = "AIML"
print(Student)

if "id" in Student:
  del Student["id"]
print(Student)

{'college': 'SRU'}
{'college': 'SRU', 'branch': 'AIML'}
{'college': 'SRU', 'branch': 'AIML'}